/* homepage */
body{
    margin: 0;
    padding: 0;
    background-color: rgba(253, 198, 216, 0.721);
    text-decoration: none;
}
header{
    height: 60px;
    width: 100%;
    background-color:  rgba(253, 198, 216, 0.721);
    position: absolute;
    top: 0;
}

header ul{
    list-style: none;
}
header ul li{

    float: right;
    margin-right: 50px;
}
header ul li a{
    text-decoration: none;
    padding-bottom: 10px;
    padding-top: 10px;
    color: rgba(60, 145, 230, 0.886);
}
a :hover{
transition: .5s;
background-color: brown;
}
.aboutMe{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}
.me{
    height: 450px;
    width: 550px;
    border-color:rgba(253, 198, 216, 0.721) ;
border-radius: 20px;
}
.infoMe{
    padding-top: 250px;
}
button{
    width: 100px;
    color:blue;
    background-color:  rgba(253, 198, 216, 0.721);
    border-color:rgba(253, 198, 216, 0.721) ;
    border-radius: 20px;
    margin-top: 20px;

}
/* end of home page homepage */

/* Wives page */

.aboutWM{
    display: flex;
    margin-top: 80px;
    margin-left: 70px;
    margin-right: 30px;
    margin-top: 200px;
}
.meWM{
    height: 300px;
    width: 350px;
    border-color:rgba(253, 198, 216, 0.721) ;
    border-radius: 20px;
}
.infoWM{
    margin-top: 100px;
    margin-left: 90px;
}

.infoW{
    padding-top: 45px;
    text-align: center;
}
.wives{
    display: flex;
    justify-content: center;
    column-gap: 25px;
    margin-top: 200px;
    margin-bottom: 50px;
}
.FW{
    height: 250px;
    width: 250px;
    border-color:rgba(253, 198, 216, 0.721) ;
    border-radius: 20px;
    text-align: center;
}
button a{
    text-decoration: none;
    color: rgb(91, 89, 89);
}

/* end of Wives Page */

/* children*/
.chi{
    margin-top: 100px;
    text-align: center;
}
.chil{

    margin-top: 95px;
    margin-bottom: 50px;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
}
.CH{
    height: 150px;
    width: 200px;
    border-color:rgba(253, 198, 216, 0.721) ;
    border-radius: 20px;
    text-align: center;
}


.infoChi{
    padding-top: 45px;
    text-align: center;
}

/* end CHildren */

/* Rebecca */
.Rchil{

    margin-top: 95px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
}
.rEB{
    margin-top: 50px;
    margin-left: 80px;
}

/* end Rebecca */



