body{
    background-color: green;
    /*background-image: url("IMG/rADISSION.jpg"); */
    background-size: cover;
    background-repeat: none;
    text-align: center;
    color: azure;
    font-weight: bold;
}
h1{
    color: goldenrod;
}
#message-el{
    font-style: italic;
}

button{
    width: 150px;
    background-color: goldenrod;
    color: #016F23;
    padding: 10px 0 10px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    margin-top: 10px;

}